<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SouscriptionServlet</servlet-name>
        <servlet-class>controllers.SouscriptionServlet</servlet-class>
        <init-param>
            <param-name>login</param-name>
            <param-value>sanaa</param-value>
        </init-param>
        <init-param>
            <param-name>mdp</param-name>
            <param-value>sanaa</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>InscriptionAssociationServlet</servlet-name>
        <servlet-class>controllers.InscriptionAssociationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SouscriptionServlet</servlet-name>
        <url-pattern>/controlleur/souscription</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionAssociationServlet</servlet-name>
        <url-pattern>/controlleur/inscription</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>

